/YiJieDemo/Library
/YiJieDemo/obj
/YiJieDemo/Temp
/YiJieTest/Library
/YiJieTest/obj
/YiJieTest/1.apk
/Android/YiJieTest/bin
/YiJieTest/Temp
/Android/.metadata
/WebServer/bin
/WebServer/obj
/YiJieTest/packages
/YiJieTest/.vs/config/applicationhost.config
