<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x.yijie"
    android:versionCode="1"
    android:versionName="1.0" >

  <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="18" />

  <!--add by snowfish-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
  <!--end add by snowfish -->

  <application
      android:allowBackup="true"
      android:name="com.snowfish.cn.ganga.helper.SFOnlineApplication"
      android:label="@string/app_name">

    <activity android:name="com.x.yijie.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>

 <!--    <activity
      android:name="com.x.yijie.MainActivity" android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
      android:label="@string/app_name" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
    </activity> -->

    <!-- SNOWFISH SDK -->


    <service
        android:name="com.snowfish.a.a.s.ABGSvc"
        android:enabled="true"
        android:process="com.snowfish.a.a.bg" >
      <intent-filter>
        <action android:name="com.snowfish.a.a.s.ABGSvc" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </service>

    <meta-data
        android:name="com.snowfish.appid"
        android:value="{AACEF27F-3452FD82}" >
    </meta-data>

    <meta-data
        android:name="com.snowfish.channelid"
        android:value="{4ff036a1-3254eafe}" >
    </meta-data>

    <meta-data
        android:name="com.snowfish.customer"
        android:value="SNOWFISH" >
    </meta-data>
    <meta-data
        android:name="com.snowfish.channel"
        android:value="SNOWFISH" >
    </meta-data>
    <meta-data
        android:name="com.snowfish.sdk.version"
        android:value="1" >
    </meta-data>
    <!-- SNOWFISH SDK -->

  </application>

</manifest>
